<div class="products">
  <div class="Title">
      <h2>المنتجات</h2>
      <i class="icon"></i>
  </div>
  <div class="card-container">
  <div class="card">
    <div class="card-content">
      <div class="card-title">اسم المنتج</div>
      <ul class="price-list">
        <li><span>السعر</span><span>جم10</span></li>
      </ul>
    </div>
    <div class="card-image">
      <img src="../../../assets/products/cake.jfif" alt="Product">
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">اسم المنتج</div>
      <ul class="price-list">
        <li><span>السعر</span><span>جم10</span></li>
      </ul>
    </div>
    <div class="card-image">
      <img src="../../../assets/products/cake.jfif" alt="Product">
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">اسم المنتج</div>
      <ul class="price-list">
        <li><span>السعر</span><span>جم10</span></li>
      </ul>
    </div>
    <div class="card-image">
      <img src="../../../assets/products/cake.jfif" alt="Product">
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">اسم المنتج</div>
      <ul class="price-list">
        <li><span>السعر</span><span>جم10</span></li>
      </ul>
    </div>
    <div class="card-image">
      <img src="../../../assets/products/cake.jfif" alt="Product">
    </div>
  </div>
  <div class="card">
    <div class="card-content">
      <div class="card-title">اسم المنتج</div>
      <ul class="price-list">
        <li><span>السعر</span><span>جم10</span></li>
      </ul>
    </div>
    <div class="card-image">
      <img src="../../../assets/products/cake.jfif" alt="Product">
    </div>
  </div>

</div>
</div>