<div class="news">
  <div class="Title">
      <h2>الأخبار</h2>
      <i class="icon"></i>
  </div>
  <div class="card-container">
  <div class="card">
    <img src="../../../assets//about/monastery1.jpg" alt="Card Image">
    <div class="card-content">
      <div class="card-title">Card Title 1</div>
      <p class="card-subtitle">This is a short subtitle or description.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../../assets//about/monastery2.jpg" alt="Card Image">
    <div class="card-content">
      <div class="card-title">Card Title 2</div>
      <p class="card-subtitle">Another short piece of info goes here.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets//about/monastery3.jpg" alt="Card Image">
    <div class="card-content">
      <div class="card-title">Card Title 2</div>
      <p class="card-subtitle">Another short piece of info goes here.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets//about/monastery3.jpg" alt="Card Image">
    <div class="card-content">
      <div class="card-title">Card Title 2</div>
      <p class="card-subtitle">Another short piece of info goes here.</p>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets//about/monastery3.jpg" alt="Card Image">
    <div class="card-content">
      <div class="card-title">Card Title 2</div>
      <p class="card-subtitle">Another short piece of info goes here.</p>
    </div>
  </div>
</div>
</div>
