<div class="menu">
<div class="photo">
  <img src="../../../assets/about/monastery1.jpg" alt="">
</div>
 <a><i class="menu-icon"></i></a>
</div>
<nav class="navbar">
  <ul class="nav-menu">
    <li><a href="#about">عن الدير<i class="icon"></i></a></li>
    <li><a href="#news">الأخبار<i class="icon"></i></a></li>
    <li><a href="#readings">القراءات<i class="icon"></i></a></li>
    <li><a href="#products">المنتجات<i class="icon"></i></a></li>
    <li><a href="#media">الميديا<i class="icon"></i></a></li>
    <li><a href="#housing">قسم الخلوات<i class="icon"></i></a></li>
  </ul>
</nav>

