.navbar {
  background-color: #fff;
  border-bottom: 3px solid #C9A227;
  direction: rtl;
  padding: 0.5rem 50;

  .nav-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 5rem;
    padding: 0;
    gap: 7rem;
    li {
      a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        display: inline-flex;       
        align-items: center;
        gap: 0.4rem;                 
        transition: color 0.3s;

        &:hover {
          .icon{
            background: url('../../../assets/Icons/gold-Arrow-Down.svg') no-repeat center;
            background-size: contain;
          }
          color: #C9A227;
        }
        .icon {
          background: url('../../../assets/Icons/Arrow-Down.svg') no-repeat center;
          background-size: contain;
          width: 20px;
          height: 70px;
          display: inline-block;
          align-items: center;
        }
      }
    }
  }
}
.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C9A22740;
  width: 100%;
  height: 7vh;
  padding:0 50px;
}
img{
  width: 30px;
  height: 30px;
}
.menu-icon{
    background: url('../../../assets/Icons/Gold-Menu.svg') no-repeat center;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    align-items: center;
  
}