<div class="sliding-text-container">
<div class="sliding-text">
  فِي الْبَدْءِ كَانَ الْكَلِمَةُ، وَالْكَلِمَةُ كَانَ عِنْدَ اللهِ، وَكَانَ الْكَلِمَةُ اللهَ. هذَا كَانَ فِي الْبَدْءِ عِنْدَ اللهِ. كُلُّ شَيْءٍ بِهِ كَانَ، وَبِغَيْرِهِ لَمْ يَكُنْ شَيْءٌ مِمَّا كَانَ. فِيهِ كَانَتِ الْحَيَاةُ، وَالْحَيَاةُ كَانَتْ نُورَ النَّاسِ، وَالنُّورُ يُضِيءُ فِي الظُّلْمَةِ، وَالظُّلْمَةُ لَمْ تُدْرِكْهُ. كَانَ إِنْسَانٌ مُرْسَلٌ مِنَ اللهِ اسْمُهُ يُوحَنَّا. هذَا جَاءَ لِلشَّهَادَةِ لِيَشْهَدَ لِلنُّورِ، لِكَيْ يُؤْمِنَ الْكُلُّ بِوَاسِطَتِهِ. لَمْ يَكُنْ هُوَ النُّورَ، بَلْ لِيَشْهَدَ لِلنُّورِ. كَانَ النُّورُ الْحَقِيقِيُّ الَّذِي يُنِيرُ كُلَّ إِنْسَانٍ آتِيًا إِلَى الْعَالَمِ. كَانَ فِي الْعَالَمِ، وَكُوِّنَ الْعَالَمُ بِهِ، وَلَمْ يَعْرِفْهُ الْعَالَمُ. إِلَى خَاصَّتِهِ جَاءَ، وَخَاصَّتُهُ لَمْ تَقْبَلْهُ.
</div>
</div>
 <div class="image-behind-text">
  <img src="../../../assets/Home/home-image.png" alt="background" />
  <div class="home-text">
    <h2>دير الأمير تادرس الشطبي والقوي القديس الأنبا موسي بسرابيوم</h2>
    <h4>يرحب بكم ..</h4>
  </div>
</div>
<section class="about-us">
<app-about></app-about>
</section>

<section class="news">
<app-news></app-news>
</section>

<section class="readings">
<app-readings></app-readings>
</section>

<section class="products">
  <app-products></app-products>
</section>

<section class="media">
  <app-media></app-media>
</section>

<section class="housing">
  <app-housing></app-housing>
</section>

