<div class="media">
  <div class="Title">
    <h2>الميديا</h2>
    <i class="icon"></i>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="image-wrapper">
        <img src="../../../assets/media/img1.jfif" class="img1">
        <img src="../../../assets/media/img2.jfif" class="img2">
        <img src="../../../assets/media/img3.jfif" class="img3">
        <img src="../../../assets/media/img4.jfif" class="img4">
      </div>
      <div class="content">
        <h4 class="title">العنوان</h4>
        <h6 class="disc">الوصف</h6>
      </div>
    </div>
    <div class="card">
      <div class="image-wrapper">
        <img src="../../../assets/media/img1.jfif" class="img1">
        <img src="../../../assets/media/img2.jfif" class="img2">
        <img src="../../../assets/media/img3.jfif" class="img3">
        <img src="../../../assets/media/img4.jfif" class="img4">
      </div>
      <div class="content">
        <h4 class="title">العنوان</h4>
        <h6 class="disc">الوصف</h6>
      </div>
    </div>
    <div class="card">
      <div class="image-wrapper">
        <img src="../../../assets/media/img1.jfif" class="img1">
        <img src="../../../assets/media/img2.jfif" class="img2">
        <img src="../../../assets/media/img3.jfif" class="img3">
        <img src="../../../assets/media/img4.jfif" class="img4">
      </div>
      <div class="content">
        <h4 class="title">العنوان</h4>
        <h6 class="disc">الوصف</h6>
      </div>
    </div>
    <div class="card">
      <div class="image-wrapper">
        <img src="../../../assets/media/img1.jfif" class="img1">
        <img src="../../../assets/media/img2.jfif" class="img2">
        <img src="../../../assets/media/img3.jfif" class="img3">
        <img src="../../../assets/media/img4.jfif" class="img4">
      </div>
      <div class="content">
        <h4 class="title">العنوان</h4>
        <h6 class="disc">الوصف</h6>
      </div>
    </div>
    <div class="card">
      <div class="image-wrapper">
        <img src="../../../assets/media/img1.jfif" class="img1">
        <img src="../../../assets/media/img2.jfif" class="img2">
        <img src="../../../assets/media/img3.jfif" class="img3">
        <img src="../../../assets/media/img4.jfif" class="img4">
      </div>
      <div class="content">
        <h4 class="title">العنوان</h4>
        <h6 class="disc">الوصف</h6>
      </div>
    </div>

  </div>
</div>